#sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    width: 100px;
    display: flex;
    justify-content: space-between;
}


img {
    width: 500px;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
}